<form class="card mb-4">
  <div class="card-header">Discord Command Aliases</div>
  <div class="card-body">
    <custom-input
      id="discordCommandAliasKick"
      type="text"
      label="kick"
      tooltip="The alias for the kick command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasBan"
      type="text"
      label="ban"
      tooltip="The alias for the ban command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasBroadcast"
      type="text"
      label="broadcast"
      tooltip="The alias for the broadcast command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasShutdown"
      type="text"
      label="shutdown"
      tooltip="The alias for the shutdown command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasDoExit"
      type="text"
      label="doExit"
      tooltip="The alias for the doExit command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasSave"
      type="text"
      label="save"
      tooltip="The alias for the save command."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasStartServer"
      type="text"
      label="startServer"
      tooltip="The alias for the startServer command."
    ></custom-input>
  </div>
</form>

<div>
  <button type="button" class="btn btn-primary">Save</button>
</div>
