<form class="card mb-4">
  <div class="card-header">Discord Channel Config</div>
  <div class="card-body">
    <custom-input
      id="discordDashboardChannelId"
      type="text"
      label="Dashboard Channel ID"
      tooltip="The channel ID for the dashboard."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordLogChannelId"
      type="text"
      label="Log Channel ID"
      tooltip="The channel ID for the bot logs."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardOnlinePlayersMessageId"
      type="text"
      label="Online Players Message ID"
      tooltip="The message ID for the online players message."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardPalworldConfigMessageId"
      type="text"
      label="Palworld Config Message ID"
      tooltip="The message ID for the Palworld config message."
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardBotConfigMessageId"
      type="text"
      label="Bot Config Message ID"
      tooltip="The message ID for the bot config message."
    ></custom-input>
  </div>
</form>

<div class="mb-4">
  <button type="button" class="btn btn-primary">{{.i18n.Save}}</button>
</div>
