<form class="card mb-4">
  <div class="card-header">{{.i18n.PalworldConfig}}</div>
  <div class="card-body">
    <custom-switch
      id="palworldRconEnabled"
      label="{{.i18n.EnablePalworldRcon}}"
      class="mb-2"
    ></custom-switch>
    <custom-input
      id="palworldRconHost"
      type="text"
      label="{{.i18n.PalworldRconHost}}"
      tooltip="{{.i18n.PalworldRconHostTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="palworldRconPort"
      type="number"
      label="{{.i18n.PalworldRconPort}}"
      tooltip="{{.i18n.PalworldRconPortTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="palworldAdminPassword"
      type="text"
      label="{{.i18n.PalworldAdminPassword}}"
      tooltip="{{.i18n.PalworldAdminPasswordTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="palworldServerFilePath"
      type="text"
      label="{{.i18n.PalworldServerFilePath}}"
      tooltip="{{.i18n.PalworldServerFilePathTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="palworldServerExecuteFlags"
      type="text"
      label="{{.i18n.PalworldServerExecuteFlags}}"
      tooltip="{{.i18n.PalworldServerExecuteFlagsTooltip}}"
    ></custom-input>
  </div>
</form>

<div class="mb-4">
  <button type="button" class="btn btn-primary">{{.i18n.Save}}</button>
</div>
