<form class="card mb-4">
  <div class="card-header">{{.i18n.DiscordBotConfig}}</div>
  <div class="card-body">
    <custom-switch
      id="discordBotEnabled"
      label="{{.i18n.EnableDiscordBot}}"
      class="mb-2"
    ></custom-switch>
    <custom-input
      id="discordBotToken"
      type="text"
      label="{{.i18n.DiscordBotToken}}"
      tooltip="{{.i18n.DiscordBotTokenTooltip}}"
      tooltip-click-href="https://github.com/juunini/palworld-discord-bot/wiki"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordAdminUsernames"
      type="text"
      label="{{.i18n.DiscordAdminUsernames}}"
      tooltip="{{.i18n.DiscordAdminUsernamesTooltip}}"
      class="mb-4"
    ></custom-input>

    <custom-switch
      id="discordCommandCaseSensitive"
      label="{{.i18n.DiscordCommandCaseSensitive}}"
      tooltip="{{.i18n.DiscordCommandCaseSensitiveTooltip}}"
      class="mb-2"
    ></custom-switch>
    <custom-input
      id="discordCommandPrefix"
      type="text"
      label="{{.i18n.DiscordCommandPrefix}}"
      tooltip="{{.i18n.DiscordCommandPrefixTooltip}}"
    ></custom-input>
  </div>
</form>

<div class="mb-4">
  <button type="button" class="btn btn-primary patch-config">
    {{.i18n.Save}}
  </button>
</div>
