<form class="card mb-4">
  <div class="card-header">{{.i18n.DiscordChannelConfig}}</div>
  <div class="card-body">
    <custom-input
      id="discordDashboardChannelId"
      type="text"
      label="{{.i18n.DiscordDashboardChannelID}}"
      tooltip="{{.i18n.DiscordDashboardChannelIDTooltip}}"
      tooltip-click-href="https://github.com/juunini/palworld-discord-bot/wiki/How-to-get-Channel-ID%3F"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordLogChannelId"
      type="text"
      label="{{.i18n.DiscordLogChannelID}}"
      tooltip="{{.i18n.DiscordLogChannelIDTooltip}}"
      tooltip-click-href="https://github.com/juunini/palworld-discord-bot/wiki/How-to-get-Channel-ID%3F"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardOnlinePlayersMessageId"
      type="text"
      label="{{.i18n.DiscordDashboardOnlinePlayersMessageID}}"
      tooltip="{{.i18n.DiscordDashboardOnlinePlayersMessageIDTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardPalworldConfigMessageId"
      type="text"
      label="{{.i18n.DiscordDashboardPalworldConfigMessageID}}"
      tooltip="{{.i18n.DiscordDashboardPalworldConfigMessageIDTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordDashboardBotConfigMessageId"
      type="text"
      label="{{.i18n.DiscordDashboardBotConfigMessageID}}"
      tooltip="{{.i18n.DiscordDashboardBotConfigMessageIDTooltip}}"
    ></custom-input>
  </div>
</form>

<div class="mb-4">
  <button type="button" class="btn btn-primary patch-config">
    {{.i18n.Save}}
  </button>
</div>
