<form class="card mb-4">
  <div class="card-header">{{.i18n.DiscordCommandAliases}}</div>
  <div class="card-body">
    <custom-input
      id="discordCommandAliasHelp"
      type="text"
      label="help"
      tooltip="{{.i18n.DiscordCommandAliasHelpTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasKick"
      type="text"
      label="kick"
      tooltip="{{.i18n.DiscordCommandAliasKickTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasBan"
      type="text"
      label="ban"
      tooltip="{{.i18n.DiscordCommandAliasBanTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasBroadcast"
      type="text"
      label="broadcast"
      tooltip="{{.i18n.DiscordCommandAliasBroadcastTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasShutdown"
      type="text"
      label="shutdown"
      tooltip="{{.i18n.DiscordCommandAliasShutdownTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasDoExit"
      type="text"
      label="doExit"
      tooltip="{{.i18n.DiscordCommandAliasDoExitTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasSave"
      type="text"
      label="save"
      tooltip="{{.i18n.DiscordCommandAliasSaveTooltip}}"
      class="mb-2"
    ></custom-input>
    <custom-input
      id="discordCommandAliasStartServer"
      type="text"
      label="startServer"
      tooltip="{{.i18n.DiscordCommandAliasStartServerTooltip}}"
    ></custom-input>
  </div>
</form>

<div>
  <button type="button" class="btn btn-primary patch-config">
    {{.i18n.Save}}
  </button>
</div>
