<form class="card mb-4">
  <div class="card-header">{{.i18n.WebConfig}}</div>
  <div class="card-body">
    <custom-switch
      id="webServerEnabled"
      label="{{.i18n.EnableWebServer}}"
      turn-off-prompt="{{.i18n.EnableWebServerDisablePrompt}}"
      confirm="{{.i18n.Confirm}}"
      Close="{{.i18n.Close}}"
      class="mb-2"
    ></custom-switch>
    <custom-input
      id="webServerPort"
      type="number"
      label="{{.i18n.WebServerPort}}"
      tooltip="{{.i18n.WebServerPortTooltip}}"
    ></custom-input>
  </div>
</form>

<div class="mb-4">
  <button type="button" class="btn btn-primary patch-config">
    {{.i18n.Save}}
  </button>
</div>
